/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* END OF CSS RESET */


  :root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
  }

body {
    font-family: 'Karla', sans-serif;
}

.heading {
    font-family: 'DM Serif Display', serif;
}
.h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 3rem;
}
.h2 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 2.5rem;
}
.h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 2rem;
}

p {
    line-height: 1.625rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}

.family {
    width: 100%;
}

.hero-banner {
    background-color: var(--dark-violet);
    color: white;
    position: relative;
}
.hero-banner .lockup-wrapper{
    padding: 5.8em 1.5em;
    position: relative;
    z-index: 1;
}
.hero-banner .h1{
    margin-bottom: 1rem;
}

.hero-banner p{
    margin-bottom: 2rem;
}

.hero-pattern-left {
    position: absolute;
}

.hero-pattern-right {
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-50%);
}

.lockup {
    text-align: center;
}

.button  {
    color: white;
    background-color: transparent;
    border: white solid 1px;
    padding: 13px 25px;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .5s;
}
.button:hover  {
    color: var(--dark-violet);
    background-color: white;
    cursor: pointer;
}

.section-we-different .section-wrapper {
    text-align: center;
    padding: 8.75rem 1.5rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.section-we-different .h1 {
    margin-bottom: 5rem;
}

.line {
    height: 1px;
    width: 150px;
    background-color: #C396C6;
    margin-bottom: 2.5rem;
}

.features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.features {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.section-find-out-more .section-wrapper {
    padding-inline: 1.5rem;
    margin-bottom: 8.75rem;
}

.box {
    background-color: var(--dark-violet);
    color: white;
    padding-inline:1.5rem;
    position: relative;
}

.box-pattern {
    position: absolute;
    right: 0;
}

.box .lockup-wrapper {
    padding: 4.5rem 1.5rem;
    position: relative;
    z-index: 1;
}

.box .h2 {
    margin-bottom: 2.5rem;
}

footer {
    background-color: var(--very-light-gray);
    position: relative;
    z-index: 1;
}

footer .section-wrapper {
    padding-inline: 1.5rem;
}

.footer-header {
    border-bottom: 1px #DADADA solid;
    display: grid;
    place-items: center;
    gap: 2rem;
    padding-top: 5.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

.social-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list-wrapper {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--very-dark-violet);
    font-weight: 700;
    font-size: 0.8125rem;
    letter-spacing: 1px;
}

.footer-links {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 2.5rem;
}

.list-wrapper ul {
    list-style: none;
    padding-left: 0;
}

.list-wrapper li {
    letter-spacing: 1.5px;
}


.list-header {
    color: var(--dark-grayish-violet);
    margin-bottom: 2rem;
}

.footer-pattern {
    position: absolute;
    width: 100%;
    z-index: -1;
}